# Build results
[Dd]ebug/
[Dd]ebugPublic/
[Rr]elease/
[Rr]eleases/
x64/
x86/
[Ww][Ii][Nn]32/
[Aa][Rr][Mm]/
[Aa][Rr][Mm]64/
bld/
[Bb]in/
[Oo]bj/
[Ll]og/
[Ll]ogs/

# .NET Core
project.lock.json
project.fragment.lock.json
artifacts/


# NuGet Packages
*.nupkg
*.snupkg

# Temporary files
~$*
*~

# MSBuild logs
*.binlog

# Test results
[Tt]est[Rr]esult*/
[Bb]uild[Ll]og.*



# Visual Studio IDE-specific
*.suo
*.user
.vs/
.vscode/
.idea/
*.sln.docstates


# Migration files (nếu dùng Entity Framework)
Migrations/*.db

# Đảm bảo không bỏ qua file quan trọng
!*.sln
!*.csproj
!*.cs

# Ignore tailwind css 
node_modules/